{% extends 'core/base.html' %}

{% block content %}
    <!-- Page Header Start -->

        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>ARA DATA MANAGER</h2>
                    </div>
                    <!--
                    <div class="col-12">
                        <a href="{% url 'lineabase:nueva_pregunta' %}" type="submit" >Crear</a>
                        <a href="{% url 'lineabase:subir' %}">Subir</a>
                        <a href="{% url 'lineabase:graficos' %}">Graficos</a>
                        <a href="{% url 'lineabase:excel' %}">Excel</a>
                        <a href="{% url 'lineabase:coordenadas' %}">Coordenadas</a>
                    </div>-->
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Single Page Start -->

        <div class="single">

            <div class="container">
              <!--  <div class="section-header text-center">
                    <h2>ARA Data Manager</h2>
                </div>-->
                <div class="row">
                    <div class="col-12">

                        <h1>¿Qué es el modulo Data Manager?</h1>

                        <p>
                            Este módulo del sistema permite el levantamiento de encuesta, haciendo uso de dispositivos móviles android. Para la correcta utilización de este sistema es necesario  proveer una encuesta en formato XML, además se deben sincronizar los dispositivos para la recolección de la información; las instrucciones para dicho proceso aparecen a continuación.
                        </p>

                         <h1>¿Cómo funciona?</h1>
                        <p>
                            Los pasos para subir una encuesta en el sistema son:

                        </p>
                        <ul class="ul-group">
                            <li>1. Crear la encuesta.</li>
                            <li>2. Exportar la encuesta en formato XML.</li>
                            <li>3. Subir la Encuesta en formato XML.</li>
                            <li>4. Sincronizar los dispositivos de recolección de datos.</li>
                            <li>5. Bajar la encuesta en los dispositivos móviles.</li>
                            <li>6. Levantar las encuestas.</li>
                            <li>7. Subir las  respuestas al servidor.</li>

                        </ul>
                        <h3>1. Crear encuesta</h3>
                        <p>
                            Para la creación de la encuesta se puede utilizar algún sistema de creación de encuestas,  a continuación utilizaremos Koobotool, sin embargo, es pertinente aclarar que no es el único servicio.

                        </p>
                        <p>
                            Para utilizar Koobotool, es necesario la creación de una cuenta Koobo, para eso puede ver el siguiente vídeo:
                        </p>
                        <center>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/p5ACa4BMTh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </center>
                        <p>
                            Luego de crear su cuenta, debe ingresar  con sus credenciales, luego se debe crear la encuesta.   Para crear una nueva encuesta vea el siguiente vídeo:
                        </p>
                        <center>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/LFvCVwj9z8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </center>
                        <h3>2. Exportar encuesta en XML </h3>
                        <p>
                            Al terminar la encuesta se debe guardar todos los cambios, luego se debe exportar esta encuesta, para esto en su menú principal, donde aparecen todas las encuestas creadas, debe dar click en los tres puntos que aparecen al final de cada fila, luego seleccionar descargar XML.
                        </p>

                        <

                    </div>
                </div>
            </div>
        </div>
        <center>
        <img src="/static/img/1.png" alt="Image" width="207" height="344" />
         </center>
    <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                     <div>
                         Esto le permitirá descargar un archivo tipo XML, el cual debe subir en el siguiente paso.
                     </div>
                    <h3>3. Subir la encuesta en formato XML. </h3>
                     <div>
                         Luego de tener el archivo XML, se ingresa a la pestaña de subir encuesta, dónde deberá seleccionar el archivo descargado en el paso anterior, además completar los campos solicitados.

                            Luego de esto,  la encuesta aparecerá lista para ser descargada en los dispositivos móviles

                     </div>
                     <h3>4. Sincronizar los dispositivos de recolección de datos</h3>

                    </div>
                </div>
            </div>
    </div>
    <center>
        <img src="/static/img/Imagen1.jpg" alt="Image" width="500" height="344" />
     </center>
    <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    Luego se debe seguir los pasos mostrados en las siguientes imágenes, para configurar el dispositivo.
                    </div>
                </div>
            </div>
    </div>
    <center>
        <img src="/static/img/Imagen2.png" alt="Image" width="225" height="375" />
     </center>
    <center>
        <img src="/static/img/Imagen3.png" alt="Image" width="225" height="375" />
     </center>
    <center>
        <img src="/static/img/Imagen4.png" alt="Image" width="225" height="375" />
     </center>
    <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    En este punto se debe ingresar las credenciales provistas  por la Coordinación de Proyectos.
                    </div>
                <h3>Bajar la encuesta en los dispositivos móviles.</h3>
                </div>
            </div>
    </div>


    <!-- Single Page End -->
{% endblock %}