{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/diag.css' %}">
    </head>
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Capacitaciones</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="single">
        <div class="container">
            <div style="text-align: center; display: flex; justify-content: center;">
                <select id="opciones" onchange="mostrarDivSeleccionado()">
                    {{ tr|safe }}
                </select>
            </div>
        </div>
    </div>
    <body style="font-family:'Helvetica Neue', Arial; font-size: 14px;">
    <div style="text-align: center; display: flex; justify-content: center;">
        <table id="infocompleta" style="width: 1050px">
            <tbody>
            <tr>
                <td colspan="5" id="tema"></td>
            </tr>
            <tr>
                <td style="width: 100px; border: 1px solid #999; font-weight: bold; font-size: 16px; padding: 8px;">Llave: </td>
                <td style="width: 150px; border: 1px solid #999; font-weight: bold; font-size: 16px; padding: 8px;">Unidad: </td>
                <td style="width: 200px; border: 1px solid #999; font-weight: bold; font-size: 16px; padding: 8px;">Técnico: </td>
                <td style="width: 500px; border: 1px solid #999; font-weight: bold; font-size: 16px; padding: 8px;">Proyecto: </td>
                <td style="width: 100px; border: 1px solid #999; font-weight: bold; font-size: 16px; padding: 8px;">Fecha: </td>
            </tr>
            <tr>
                <td id="llave" style="border: 1px solid #999; padding: 8px;"></td>
                <td id="unidad" style="border: 1px solid #999; padding: 8px;"></td>
                <td id="tecnico" style="border: 1px solid #999; padding: 8px;"></td>
                <td id="proyecto" style="border: 1px solid #999; padding: 8px;"></td>
                <td id="fecha" style="border: 1px solid #999; padding: 8px;"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Diagnóstico 1</h1>
                        <div class="table-container">
                            <table class="comparable-table">
                                <tr>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Inicial</h2>
                                        <img id="pi1" src="" width="450px"/>
                                    </td>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Final</h2>
                                        <img id="pf1" src="" width="450px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Diagnóstico 2</h1>
                        <div class="table-container">
                            <table class="comparable-table">
                                <tr>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Inicial</h2>
                                        <img id="pi2" src="" width="450px"/>
                                    </td>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Final</h2>
                                        <img id="pf2" src="" width="450px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Diagnóstico 3</h1>
                        <div class="table-container">
                            <table class="comparable-table">
                                <tr>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Inicial</h2>
                                        <img id="pi3" src="" width="450px"/>
                                    </td>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Final</h2>
                                        <img id="pf3" src="" width="450px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Diagnóstico 4</h1>
                        <div class="table-container">
                            <table class="comparable-table">
                                <tr>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Inicial</h2>
                                        <img id="pi4" src="" width="450px"/>
                                    </td>
                                    <td>
                                        <h2 style="font-size: 16px;">Prueba Final</h2>
                                        <img id="pf4" src="" width="450px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Lista de asistencia</h1>
                        <div class="table-container">
                            <table class="comparable-table">
                                <tr>
                                    <td>
                                        <img id="asistencia" src="" width="900px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Foto del evento</h1>
                        <div class="table-container">
                            <table class="comparable-table">
                                <tr>
                                    <td>
                                        <img id="evento" src="" width="900px"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="container1">
                        <h1 style="font-weight: bold; font-size: 16px;">Ubicación</h1>
                        <div class="table-container">
                            <div style="padding: 8px;text-align: center; display: flex; justify-content: center;">
                                <div id="k0" style="display: block; width: 600px;" class="popup">
                                    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
                                    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
                                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" />
                                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
                                    <p>
                                    <div style="width:100%;">
                                        <div id="map" style="position:relative;width:100%;height:0;padding-bottom:60%;">
                                            <span style="color:#565656">Make this Notebook Trusted to load map: File -> Trust Notebook</span>
                                        </div>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Observaciones</td>
                <td colspan="4" id="observaciones">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="{% static 'js/diag.js' %}"></script>
{% endblock %}

